{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link href='https://fonts.googleapis.com/css?family=League+Script|Anonymous+Pro' rel='stylesheet' type='text/css'>
<link rel="icon" type="image/png" href="./static/images/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="./static/images/favicon-16x16.png" sizes="16x16" />
<head>
  <title>About</title>
</head>

<html>
<img src="./static/images/salmon.jpg" ></img>
<p class="about" > Originally from the Pacific Northwest, I grew up watching nature in the San Juans. At Stanford, I studied linguistics, Bhutanese culture, and anthropology.
   I was an observer for NOAA on the Bering Sea pollock fleet and then attended all but the fourth year of medical school at the University of Washington.  Currently I am a computational medical anthropologist
   practicing in the Seattle Area.

   Please contact me at bbraelan@gmail.com
   <p>

</html>
