<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <script src="{%static 'libs/jquery.js'%}"></script>
    <script src="{%static 'libs/underscore.js'%}"></script>
    <script src="{%static 'libs/backbone.js'%}"></script>

    <script src="{%static 'news/famiasnews.js'%}"></script>
    <script src="{%static 'news/models/post.js'%}"></script>
    <script src="{%static 'news/collections/posts.js'%}"></script>
    <script src="{%static 'news/utils.js'%}"></script>
    <script src="{%static 'news/views/post_show.js'%}"></script>
    <script src="{%static 'news/views/posts_index.js'%}"></script>
    <script src="{%static 'news/routes.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
<link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC|Roboto' rel='stylesheet' type='text/css'>
<link rel="icon" type="image/png" href="./static/images/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="./static/images/favicon-16x16.png" sizes="16x16" />
    <meta charset="utf-8">
    <title>Famia Nkansa</title>
  </head>
<header class="group">
  <section class="banner-group group">
    <section class="banner">
     <h1> Akua Files</h1>
    </section>
    <p class="email">famfam.nkansa@gmail.com<p>
    <section>
    <a id='about' href="/about">about</a><a id='about' href="/">home</a>
  </section>
  </section>
</header>
<body>
 {% block content %}
 {% endblock %}

<span></span>
<script type="text/javascript">
  $(document).ready(function(){
    FamiasNews.initialize();
  });
</script>

</body>

</html>
