  html {
    background: black;
    color: white;
    font-family: League Script, cursive;
  }

 img {
   height: 300px;
   width: auto;
 }

.about {
  font-size: 25px;
}

#about {
  color:white;
  background: #801624;
  display: block;
  margin-left: 70%;
  font-family: Roboto;
  font-size: 30px;
}
