html, body, section, article,
h1, h2, p, strong, em, a, div, span, header{
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

html {
  font-size: 30px;
  font-family: 'Roboto', serif;
}

body{
  width: 1024px;
  margin: auto;
  border: 1px solid grey;
}

div {
  /*border: 1px solid red;*/
  /*background: yellow;*/
  margin: 0;
  padding: 0;
}


h1 {
  font-size: 70px;
  display: block;
  font-family: 'Playfair Display SC', serif;
  color: white;
    background: #2D0131;
  margin: 0;
  /*position: fixed;*/
}

.email {
display: block;
  float: right;
  font-size: 14px;
}
/*body of the posts*/

.container {
  margin: 0px 80px 0 80px;
}

img{ display: block;}

.post {
  /*background: red;*/
  border-bottom: 1px solid grey;
}

.post > a, .post > p {
  /*background: green;*/
  margin: 10px 10px 10px 0;
}

.post > a {
  color: black;
}

.post > a:hover {
  text-decoration:underline;
}

.post > p {
  font-size: 20px;
}

.post > .author {
  font-size: 15px;
}
 li {
   background: green;
 }

#about {
  color:white;
  background: #801624;
  display: block;
  margin-left: 70%;
  margin-top: 0;
}

/*specific for show page*/

.show-title, .show-article {
  margin: 10px;
}
.show-title {
  font-size: 30px;}

.show-article{
  font-size: 20px;
}
