@import "modal.css";

html, body, section, article,
h1, h2, p, strong, em, a, div, span, header, ul, li{
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  list-style: none;
  color: inherit;
  background: transparent;
}

html {
  font-size: 30px;
  font-family: 'Roboto', serif;
}

body{
  width: 1024px;
  margin: auto;
  border-top: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
}

div {
  /*border: 1px solid red;*/
  /*background: yellow;*/
  margin: 0;
  padding: 0;
}

header{
  width: 1024px;
  background: #2D0131;
  height: 95px;
  position: fixed;
}
.login {
  color: white;
}
#about {
  color:white;
  background: #801624;
  display: block;
  /*margin-left: 70%;*/
  margin-top: 0;
  float: right;
  padding: 0 10px;
  margin: 5px;
  border-radius: 10px;
  /*border: 1px solid red;*/
}

h1 {
  float:left;
  font-size: 70px;
  display: inline-block;
  font-family: 'Playfair Display SC', serif;
  color: white;
  margin: 0;
  /*position: fixed;*/
}

.email {
display: block;
  float: right;
  font-size: 14px;
  color: white;
  padding: 0 10px 0 0;
  margin-left: 38%;
}
/*body of the posts*/

.container {
  margin: 100px 80px 0 80px;
}

img{ display: block;}

.post {
  /*background: red;*/
  border-bottom: 1px solid #E5E5E5;
}

.post > a, .post > p {
  /*background: green;*/
  margin: 10px 10px 10px 0;
}

.post > a {
  color: black;
}

.post > a:hover {
  text-decoration:underline;
}

.post > p {
  font-size: 20px;
}

.post > .author {
  font-size: 15px;
}
 li {
   padding: 10px 0;
   font-size: 12px;
 }



/*specific for show page*/
.show-container {
  margin: 100px 80px 0 80px;
}
.show-title, .show-article {
  margin: 10px;
}
.show-title {
  font-size: 50px;}

.show-article{
  font-size:20px;
}
