html {
  font-size: 30px;
  font-family: 'Anonymous Pro', serif;
}

h1 {
  display: block;
  font-family: 'Playfair Display SC', serif;
  color: white;
  background: #2D0131;
}
.email {
  display: block;
  float: right;
  font-size: 14px;
}


 li {
   background: green;
 }

#about {
  background: #801624;
  display: block;
  margin-left: 70%;
}
